<div class="container">
  <div class="row">
    <div class="col-md-8 col-centered">
      <h1>Categories</h1>
      <div class="well">
        <ul>
          <% @categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      </div>

    </div>

  </div>


</div>
