<% content_for :content do %>
      <h1>Categories</h1>
      <div class="well">
        <ul>
          <% @categories.each do |category| %>
            <li><%= category.name %></li>
          <% end %>
        </ul>
      </div> 
<%end %>

<%= render 'layouts/simple_box' %>
